<div class="title">
  <h1>Grand Master Fresh</h1>
</div>
<div class="chessboard">
<!-- Top Row -->
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <!-- 2nd from Top -->
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <!-- 3rd from top -->
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <!-- 4th from top -->
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <!-- 5th from top -->
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <!-- 6th from top -->
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <!-- 7th from top -->
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <!-- bottom row -->
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
  <div class="black"></div>
  <div class="white"></div>
</div>